body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.app {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

button {
  padding: 15px;
  background: #1e293b;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
